.recipes {
  background-color: #ffffff;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 80px 215px 80px;
}

.recipes__title {
  max-width: 580px;
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  padding-top: 24px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.recipes__videos {
  padding-top: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__video {
  border: none;
}

.recipes__video-caption {
  padding-top: 24px;
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}
